a {
  color: gray;

}

a:hover {
  color: blue;
}

.mainsFlex {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 20%;
}

@media (max-width: 600px) {
  .mainsFlex {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.bodySegment {
  order: 2;
  flex-grow: 5;
  padding-left: 10%;
}

@media (max-width: 600px) {
  .bodySegment {
    padding-left: 0;
  }
}

.navSegment {
  order: 1;
  margin-left: auto;
  margin-right: 30px;
  padding-left: 15px;
}

@media (max-width: 600px) {
  .navSegment {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}

.footerSegment {
  text-align: left;
}
