a {
  color: gray;

}

a:hover {
  color: blue;
}

.mainsFlex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .mainsFlex {
    flex-direction: column;
  }
  .navSegment {
    padding-left: auto;
    padding-right: 300px;
  }
}

.bodySegment {
  order: 2;
  flex-grow: 5;
}

.navSegment {
  order: 1;
  flex-grow: 2;
  flex-basis: 50px;
}

.footerSegment {
  text-align: left;
}
