/*Table of Contents
body
  h1
  reset
  theRedButton

footer
  footer-text

*/

body {
  background-color: gray;

}

h1 {
  background: brown;
}

#reset,
.reset {
  background: white;
  height: 25px;
  width: 100px;
}

#theRedButton,
.theRedButton {
  background: red;
  height: 100px;
  width: 100px;
}

footer {
  font-size: 14px;
}

#footer-text {
  background-color: white;
}
