---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Glad you stumbled here!</h1>
			<p>
			Call me <b>Terenz</b>.
			</p>

			<p>
			I specialize in crunching big numbers using the tiniest tools.
			</p>
			
			<p>
			Basically, I build platforms where you could store any kind of data and turn that data into <b>business insights</b>, <b>computer graphics</b>, and <b>user features</b> to help you expand your business.
			</p>

			<p>
			All the while making sure that they perform as efficiently as practically possible.
			</p>

			<p>
			Feel free to <a href="/portfolio">browse my portfolio</a>. If you find my work fascinating, you can <a href="contact">contact me</a> and let me know which stuff I do suits your tastes. Or <a href="/blog">check out my blog</a> and learn something new!
			</p>
		</main>
		<Footer />
	</body>
</html>
